@import "tailwindcss";

@theme inline {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  /* Fricção Zero: Previne o pull-to-refresh e seleção acidental no mobile */
  overflow: hidden;
  overscroll-behavior: none;
  user-select: none;
  touch-action: none;
  margin: 0;
  padding: 0;
}